.awesome, .awesome:visited {
  background: #91bd09 url(/images/button_overlay.png) repeat-x; 
  display: inline-block;
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.2);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  
  font-weight: bold;
  line-height: 1;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  padding: 8px 10px 9px;
}

.awesome.gray {
  background-color: #888;
}

.awesome.gray:hover {
  background-color: #333;
}

.awesome:hover {
  background-color: #749a02; color: #fff;
}
.awesome:active {
  top: 1px;
}