.button, .button:visited {
  color: #333;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  line-height: 1;
  font-size: 0.9em;

  @include border-radius(0.6em);

  -moz-box-shadow: 0 0px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 3px rgba(0,0,0,0.2);

  text-shadow: 0 -1px 1px rgba(255,255,255,1);

  background: -moz-linear-gradient(100% 100% 90deg, #eee, #fff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));

  position: relative;
  cursor: pointer;

  border: 0;

  padding: 4px 10px;
}

.button:hover {
  color               : #000;
  -moz-box-shadow     : 0 0px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow  : 0 0px 3px rgba(0,0,0,0.5);
}

.button:active {
  background: -moz-linear-gradient(100% 100% 90deg, #fff, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
}

.button:active, .button:focus {
  outline : none;
}

/* Small button */

.small.button {
  font-size       : 0.7em;
  padding-bottom  : 3px;
}
