$link_color: #a4d61a;
$background_color: #eaeaea;

@import "mixins";
@import "reset";
@import "buttons";

a {
  color           : $link_color;
  text-decoration : none;
}

a:hover {
  color           : lighten($link_color, 10);
  text-decoration : none;
}

article {
  .button {
    margin        : 0.5em 0;
  }
  h2 {
    font-size     : 1.2em;
    padding-top   : 0.2em;
    color         : #888;
  }
}

body {
  font-family     : Helvetica,Arial,sans-serif;
  background      : $background_color;
  color           : darken($background_color, 75);
  text-rendering  : optimizeLegibility;
  font-size       : 14px;
  line-height     : 1.5em;
  margin          : 0;
  padding         : 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 1.5714285714285714em;
  line-height: 0.9545454545454546em;
  margin-bottom: 0.9545454545454546em;
}
h2 {
  font-size: 1.4285714285714286em;
  line-height: 1.05em;
  margin-bottom: 1.05em;
}

h3 {
  font-size: 1.2857142857142858em;
  line-height: 1.1666666666666667em;
  margin-bottom: 1.1666666666666667em;
}

h4 {
  font-size: 1.1428571428571428em;
  line-height: 1.3125em;
  margin-bottom: 1.3125em;
}

p, ul, blockquote, pre, td, th, label {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p.small {
  margin: 0;
  font-size: 0.8571428571428571em;
  line-height: 1.75em;
  margin-bottom: 1.75em;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

footer {
  padding         : 1em;
  text-align      : right;
}

html {
  height          : 100%;
}

label {
  font-weight     : bold;
  display         : block;
  margin-bottom   : 0.3em;
}

nav a {
  cursor          : pointer;
  color           : #999;
  font-size       : 0.9em;
  text-shadow     : 1px 1px 1px rgba(245,245,245,1);
}

nav a:hover {
  color           : #777;
}

ul {
  list-style      : none;
}

.about {
  padding         : 1em;
  font-size       : 1.2em;

  section {
    article:last-child {
      margin-bottom: 0;
    }
  }

  article {
    margin-bottom : 1.5em;
    line-height   : 140%;
    max-width     : 30em;
  }
}

.assets {
  height  : 100%;
  background : #eaeaea;
  section {
    @include clearfix;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    -moz-box-shadow     : 0 0px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow  : 0 0px 3px rgba(0,0,0,0.2);
    margin              : 1.5em 1em 0 1em;
    background          : #f1f1f1;
    border-top : 1px solid #fefefe;

    h1 {
      text-shadow   : 1px 1px 1px rgba(245,245,245,1);
      margin-left   : 10px;
      margin-top    : 0.4772725em;
      margin-bottom : 0.4772725em;
    }
  }

  article {
    padding       : 1em;
    border-top    : 1px solid #d9d9d9;
    background    : #fff;
  }

  nav {
    border-bottom : 1px solid #fefefe;
    background    : #d9d9d9;
    padding       : 10px 0 0 0;
    ul {
      @include clearfix;
      list-style  : none;
      clear       : both;
      margin-bottom: 10px;
    }

    li {
      float : right;
      margin-right: 0.8em;
    }
  }
}

#logo, #icon {
  display         : block;
  text-indent     : -9000em;
}

#logo {
  background      : url(/images/hazel.png) no-repeat top left;
  width           : 600px;
  height          : 270px;
  margin-bottom   : 1em;
}

#icon {
  float           : right;
  background      : url(/images/hazel_icon.png) no-repeat top left;
  width           : 100px;
  height          : 100px;
  margin-bottom   : 1.5em;
}

#logo:focus, #icon:focus {
  outline         : none;
}
