<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/text.css" />
    <link rel="stylesheet" href="stylesheets/960.css" />
    <link rel="stylesheet" href="stylesheets/syntax.css" />
    <link rel="stylesheet" href="stylesheets/hazel.css" />
  </head>
  <body>
    {{ content }}
    <a href="http://github.com/c7/hazel">
      <img id="ribbon" src="images/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-940629-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
