%nav
  %ul
    %li
      %a Peter Hellberg
%section
  %h1 Manage assets
  %article
    %h2
      TODO :)
    %ul
      %li
        %a.button{} Embed
      %li
        %a.button{} Upload
%footer
  %img{ :src => '/images/hazel_small.png' }
