!!!5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/all.css", :type => "text/css" }
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %title Hazel
  %body{ :class => body_class }
    .header
      %header
        = haml :'_header', :layout => false
    .content
      = yield